/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
organizations/ordererOrganizations/*
organizations/peerOrganizations/*

organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/car1/*
organizations/fabric-ca/car2/*
organizations/fabric-ca/car3/*
organizations/fabric-ca/car4/*
organizations/fabric-ca/car5/*
organizations/fabric-ca/main/*

!organizations/fabric-ca/ordererOrg/fabric-ca-server-config.yaml
!organizations/fabric-ca/car1/fabric-ca-server-config.yaml
!organizations/fabric-ca/car2/fabric-ca-server-config.yaml
!organizations/fabric-ca/car3/fabric-ca-server-config.yaml
!organizations/fabric-ca/car4/fabric-ca-server-config.yaml
!organizations/fabric-ca/car5/fabric-ca-server-config.yaml
!organizations/fabric-ca/main/fabric-ca-server-config.yaml

system-genesis-block/*
*.tar.gz
log.txt
