/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
organizations/ordererOrganizations/*
organizations/peerOrganizations/*

organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/seller1/*
organizations/fabric-ca/seller2/*
organizations/fabric-ca/customer/*
organizations/fabric-ca/item/*

!organizations/fabric-ca/ordererOrg/fabric-ca-server-config.yaml
!organizations/fabric-ca/seller1/fabric-ca-server-config.yaml
!organizations/fabric-ca/seller2/fabric-ca-server-config.yaml
!organizations/fabric-ca/customer/fabric-ca-server-config.yaml
!organizations/fabric-ca/item/fabric-ca-server-config.yaml

system-genesis-block/*
*.tar.gz
log.txt
