/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
organizations/ordererOrganizations/*
organizations/peerOrganizations/*

organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/company1/*
organizations/fabric-ca/company2/*
organizations/fabric-ca/employee/*
organizations/fabric-ca/career/*

!organizations/fabric-ca/ordererOrg/fabric-ca-server-config.yaml
!organizations/fabric-ca/company1/fabric-ca-server-config.yaml
!organizations/fabric-ca/company2/fabric-ca-server-config.yaml
!organizations/fabric-ca/employee/fabric-ca-server-config.yaml
!organizations/fabric-ca/career/fabric-ca-server-config.yaml

system-genesis-block/*
*.tar.gz
log.txt
